<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Form</title>
</head>
<body>
    <h1>Which company would you like to see stock data?</h1>
    <form action="{{ url_for('home') }}" method="POST">
        <label for="">Company Name</label>
        <input name="company" type="text" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>